/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

body{
  background-image: url('strange_bullseyes.png');
}

html {
    font-size: 16px;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.fondo{
 /* background: gray;*/
  background-image: url('strange_bullseyes.png');
  height: 1150px;
}

.centrar{
    padding-top: 140px;
    padding-left: 70px;
}

.logo{
    padding-top: 50px;
    padding-left: 0px;
}

.etiquetas{
    padding-top: 80px;
    color: white;
}

.buscador{
    padding-top: 60px;
}

.iconosRedes{
    padding-top: 5px;  
    margin-top: 130px;
}

.color2{/*color de la barra de arriba negra*/
  background-color: black;
  height: 197px;
  padding-left: 50px;
}

.color3{
    background-color: black;
    padding-top: 30px;
}


/*color de slider GRANDEEEE*/

.colorContenedorImagen{
  /*background-color: gray;*/
  background-image: url('strange_bullseyes.png');
  height: 700px;
  padding-left: 0px;
}
.slider{
    padding-top: 0px;
    padding-left: 0px;
}
.ocasion{
    padding-left: 0px;
    }
.una{
    padding-left: 0px;
}
.dos{
    padding-left: 20px;
}

/*para las letras del footer*/
h3{
  font-size: 20px;
  font-family: arial;
}



/*colores para las imagenes de las compras*/

.colorOcasion{
  background-image: url('strange_bullseyes.png');
  background-color: gray;
  width: 600px;
  height: 700px;  
}
.colorCatalogo{
  background-image: url('strange_bullseyes.png');
  background-color: gray;
  width: 473px;
  height: 700px;
}
.colorI{
  background-image: url('strange_bullseyes.png');
  background-color: gray;
  width: 530px;
  height: 578px;
}
.colorD{
  background-image: url('strange_bullseyes.png');
  background-color: gray;
  width: 473px;
  height: 578px;
  padding-right: 50px;
}

.coso{
  margin-top: 120px;
  width: 500px;
  height: 530px;
  margin-left: 300px;
  background-color: #2B2B2B;
  opacity: 0.5;
}

.registrarse{
    width: 130px;
    height: 35px;
    background-color: white;
    padding-top: 8px;
    text-align:center;
    cursor: pointer;
    margin-left: 198px;
    margin-top: 30px;
}

.usuario{
   background-color: #8CA8AC;
   width: 350px;
   height: 40px;
   margin-left: 88px;
   margin-top: 70px;
}
.contrasena{
  background-color: #8CA8AC;
   width: 350px;
   height: 40px;
   margin-left: 88px;
   margin-top:60px;
}
.correo{
   background-color: #8CA8AC;
   width: 350px;
   height: 40px;
   margin-left: 88px;
   margin-top: 70px;
}
.nombreUsuario{
  background-color: #8CA8AC;
   width: 350px;
   height: 40px;
   margin-left: 88px;
   margin-top:60px;
}
.contrasena{
   background-color: #8CA8AC;
   width: 350px;
   height: 40px;
   margin-left: 88px;
   margin-top: 70px;
}
.repetirContrasena{
  background-color: #8CA8AC;
   width: 350px;
   height: 40px;
   margin-left: 88px;
   margin-top:60px;
}


.boton {
  display: inline-block;
  float: right;
  margin-top: 35px;
  margin-right: 200px;
  color: #fff;
  background-color:black; 
  border-width: 0;
  text-indent:0px;
  color:#ffffff;
  font-family: Montserrat, Arial, serif; 
  font-weight: 700;
  font-size: 16px;
  height:40px;
  line-height:40px;
  width:136px;
  text-decoration:none;
  text-align:center;
  cursor: pointer;
}

.boton:hover {
  background-color:#E23D4A;
}

.boton:active {
  position:relative;
  top:1px;
}


.sub{
  color: white;
   font-size: 40px;
   margin-top: 20px;
   margin-left: 463px;
   margin-bottom: -70px;
}

hr{
  size: 20;
  width: 800px;
  color: white;
  margin-top: 70px;
  margin-bottom: -85px;
  margin-left: 145px;
}

.h7{
   color: white;
   font-size: 20px;
   margin-left: 225px;
   padding-top: 50px;
   margin-bottom: -60px;
}
.h8{
   color: white;
   font-size: 20px;
   margin-left: 225px;
   padding-top: 30px;
   margin-bottom: -60px;
}
.h9{
   color: white;
   font-size: 20px;
   margin-left: 185px;
   padding-top: 30px;
   margin-bottom: -60px;
}
.h10{
   color: white;
   font-size: 20px;
   margin-left: 183px;
   padding-top: 40px;
   margin-bottom: -60px;
}
.h11{
   color: white;
   font-size: 20px;
   margin-left: 210px;
   padding-top: 30px;
   margin-bottom: -60px;
}
.h12{
   color: white;
   font-size: 20px;
   margin-left: 185px;
   padding-top: 30px;
   margin-bottom: -60px;
}

/*colores para textos de footer*/

.colorA{
  background-color: black;
  display: inline-block;
  padding-left: 77px;
  width: 1354px;
  margin-left: -20px;
  margin-top: 10px;

}
.colorBB{
    padding-right: 185px; 
    color: white;  
}
a{
    color:gray;
}
.colorC{
  background-color: red;   
}




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}